@import "../../../styles.scss";

.menu-container {
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    position: relative;

    .menu-contents .menu-item {
        margin-bottom: 32px;
    }

    .menu-item {
        padding: 16px;
        svg {
            height: 32px;
            width: 32px;
            vertical-align: middle;
        }
    }

    .hidden {
        display: none;
    }

    .header {
        svg {
            fill: map-get($app-primary, 600);
        }
    }

    .footer {
        position: absolute;
        bottom: 0px;
        
        svg {
            fill: map-get($app-accent, 600);
        }
    }

    .link {
        margin-left: 16px;
    }
}