@import "./scoreBoard.scss";
@import "./neon.scss";
@import "./indelible.scss";
@import "../../../styles.scss";

.neon-red {
    @include neon-red();
}

.background {
    background-color: #222222;
    padding-bottom: 30px;
}

.scoreboard {
    font-family: "ScoreBoard";
    font-size: 50px;
}

.one-line {
    font-size: 100px;
    margin: 0px;
    margin-bottom: 20px;
    font-family: "indelible";
    color: #03a9f4;

    @include mobile() {
        display: none;        
    }
}

.multi-line {
    font-size: 100px;
    margin: 0px;
    margin-bottom: 20px;
    font-family: "indelible";
    color: #03a9f4;

    display: none;

    @include mobile() {
        display: initial;    
        line-height: 100px;    
    }
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
