@import "../../../styles.scss";

.playersDescription {    
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    align-items: center;

    .big-font {
        font-size: 32px;
    }

    .extra-info {
        @include desktop {
            display: inherit;
        }

        @include tablet {
            display: inherit;
        }

        @include mobile {
            display: none;
        }
    }

    .position {
        min-width: 50px;
    }
}

.icon-toggle {
    font-size: 32px;
    
    .middle {
        vertical-align: middle;
    }
}

.player-details {
    display: flex;
    justify-content: space-around;
    
    @include desktop {
        flex-wrap: nowrap;
    }

    @include tablet {
        flex-wrap: nowrap;
    }

    @include mobile {
        flex-wrap: wrap;
    }
}

.warning {
    display: flex;
    justify-content: space-around;
}