@import "../../styles.scss";

.actions-container {
    display: flex;
    justify-content: space-around;
    text-align: center;

    @include mobile() {
        flex-wrap: wrap;
    }

    .left-action, .right-action {
        transition: opacity 0.5s;
    }

    .disabled {
        opacity: 0.4;
    }
}

.icon-container {
    position: relative;
    transform: translateX(50%);
    transition: transform 0.75s;

    .controller-icon {
        opacity: 0.7;
    }

    &.left {
        transform: translateX(25%);
    }
    
    &.right {
        transform: translateX(75%)
    }

    @include mobile() {
        display: none;
    }
}

.centered {
    text-align: center;
}

.desktop {
    @include desktop {
        display: initial;
    }

    @include tablet {
        display: initial;
    }

    @include mobile {
        display: none;
    }
}

.mobile {
    @include desktop {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
        display: initial;
    }
}