<div class="viewContent">
    <div class="salary" [ngClass]="{invalid: totalSalary() > totalSalaryLimit}">{{totalSalary()}} M$ / {{totalSalaryLimit}} M$</div>
    <md-tab-group>
        <div *ngFor="let tab of tabs.values()">
            <md-tab>
                <template md-tab-label>{{tab.label}} <span>{{count(tab.position)}} / {{tab.maximum}}</span>
                </template>
                <template md-tab-content *ngFor="let player of filter(tab.position)">
                    <player-description [player]="player"></player-description>
                    <button md-fab class="clearButton"><i (click)="clear(player)" class="material-icons">clear</i></button>
                </template>
            </md-tab>
        </div>
    </md-tab-group>
</div>