<div class="viewContent">
    <form>
        <div>
            <div>
                <app-input placeHolder="Nom du pool" [errorMessages]="errorMessages" (valueChanged)="onPoolNameChanged($event)" (statusChanged)="onPoolNameStatusChanged($event)"></app-input>
            </div>
            <div>
                <app-input placeHolder="Nom d'équipe" [errorMessages]="errorMessages" (valueChanged)="onUserNameChanged($event)" (statusChanged)="onNameStatusChanged($event)"></app-input>
            </div>
            <div>
                <app-input placeHolder="Mot de passe" type="password" [errorMessages]="errorMessages" (valueChanged)="onPasswordChanged($event)" (statusChanged)="onPasswordStatusChanged($event)"></app-input>
            </div>
            <div>
                <app-input placeHolder="Confirmation" type="password" [errorMessages]="errorMessages" (valueChanged)="onPasswordConfirmationChanged($event)" (statusChanged)="onPasswordConfirmationStatusChanged($event)"></app-input>
            </div>
            <div>
                <button mat-raised-button color="accent" (click)="signup()" [disabled]="!isValid()">Créer</button>
            </div>
        </div>
    </form>
</div>