<div class="viewContent">
    <form>
        <div class="background-white">
            <div>
                <app-input placeHolder="Nom d'équipe" [errorMessages]="errorMessages" (valueChanged)="onUserNameChanged($event)" (statusChanged)="onNameStatusChanged($event)"></app-input>
            </div>
            <div>
                <app-input placeHolder="Mot de passe" type="password" [errorMessages]="errorMessages" (valueChanged)="onPasswordChanged($event)"
                    (statusChanged)="onPasswordStatusChanged($event)"></app-input>
            </div>
            <div class="padding">
                <app-input placeHolder="Mot de passe" type="password" [errorMessages]="errorMessages"></app-input>
            </div>
            <div>
                <button mat-raised-button color="accent" (click)="login()" [disabled]="!isValid()">Se connecter</button>
            </div>
        </div>
    </form>
</div>