.menuButton {
    background-color: transparent;
    border: none;
    outline: none;
}

.navButton {
    width: 200px;    
    margin-left: 50px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.navButton.active{
    background-color: #009688;
    color: white;
}

md-sidenav {
  width: 300px;
}

.viewContent{
    text-align: center;
    display: block;
    max-width: 98rem;
    margin-left: auto;
    margin-right: auto;
}

.navButtonGroup{
    margin-top: 10px;
}
