.menuButton {
    background-color: transparent;
    border: none;
    outline: none;
}

.navButton {
    width: 200px;    
    margin-left: 50px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.navButton.active{
    background-color: #009688;
    color: white;
}

md-sidenav {
  width: 300px;
}

.viewContent{
    text-align: center;
    display: block;
    max-width: 98rem;
    margin-left: auto;
    margin-right: auto;
}

.navButtonGroup{
    margin-top: 10px;
}

.formSubmit button{
    background-color: #009688 !important;
    color: white;
}

.formSubmit button:disabled{
    background-color: #FAFAFA !important;
    color: black;
}

.imageContainer{
    width: 100%;
    height: 350px;
    background-image: url('http://therichest.imgix.net/2013/11/nhl_team_logo_wallpaper_by_666darks-d3g5bpv.jpg?auto=format&q=40&lossless=1&w=1131&h=594&fit=crop');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
