<div class="viewContent">
    <form>
        <h1>Inscrivez-vous!</h1>
        <div class="background-white">
            <div>
                <app-input placeHolder="Nom d'équipe" [errorMessages]="errorMessages" (valueChanged)="onUserNameChanged($event)" (statusChanged)="onNameStatusChanged($event)"></app-input>
            </div>
            <div>
                <app-input placeHolder="Mot de passe" type="password" [errorMessages]="errorMessages" (valueChanged)="onPasswordChanged($event)"
                    (statusChanged)="onPasswordStatusChanged($event)"></app-input>
            </div>
            <div>
                <button mat-raised-button color="accent" (click)="saveUser()" [disabled]="!isValid()">Save</button>
            </div>
        </div>
    </form>
</div>