@import "../styles.scss";

.drawer {
    position: fixed;
    height: 100vh;
    border-right: 1px solid #ccc;
    min-width: 25%;

    @include mobile {
        min-width: 50%;
    }
  }

  .mainContent {
      background-color: #fff;
      height: 100%;
  }

  .drawer-container {
      margin: -8px;
      height: 100%;
  }

  .navigation {
      position: fixed;
      height: 100%;
      margin: 0 auto;
      
      @include desktop {
          display: inherit;
      }

      @include tablet {
          display: none;
      }

      @include mobile {
          display: none;
      }
  }

  .mobileNavigation {
    @include desktop {
        display: none;
    }

    @include tablet {
        display: inherit;
    }

    @include mobile {
        display: inherit;
    }

    svg {
        height: 32px;
        width: 32px;
    }
    
    margin-left: 8px;
}

.bottom-padding {
    padding-bottom: 16px;
}

.content {

    @include desktop {
        margin-left: 65px;
    }

    @include tablet {
        margin-left: 0px;
    }

    @include mobile {
        margin-left: 0px;
    }

    &.navigation-opened {
        margin-left: 260px;
    }
}