<mat-drawer-container class="drawer-container" *ngIf="isAuthenticated" [class.drawer-opened]="drawer.opened">
    <mat-drawer #drawer class="drawer" mode="over">
        <app-drawer [teamName]="teamName"></app-drawer>
    </mat-drawer>
    <mat-drawer-content class="mainContent">
        <app-menu class="navigation"></app-menu>
        <div class="header">
            <app-score-board></app-score-board>
            <icon-menu class="mobileNavigation" (click)="drawer.open()"></icon-menu>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<router-outlet *ngIf="!isAuthenticated"></router-outlet>