<mat-drawer-container class="drawer-container" *ngIf="isAuthenticated" [class.drawer-opened]="drawer.opened">
    <mat-drawer #drawer class="drawer" mode="over">
        <app-drawer [teamName]="teamName"></app-drawer>
    </mat-drawer>
    <mat-drawer-content class="mainContent">
        <app-menu class="navigation" (openChanged)="onOpenChanged($event)"></app-menu>
        <div class="content" [ngClass]="{'navigation-opened': isNavigationOpen}">
            <div class="header">
                <app-score-board></app-score-board>
                <icon-menu class="mobileNavigation" (click)="drawer.open()"></icon-menu>
            </div>
            <div>
                <app-turn-component></app-turn-component>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div class="bottom-padding">
    <router-outlet *ngIf="!isAuthenticated"></router-outlet>
</div>